################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/CSharp/HCM-Backend/ApplicationLib/bin/Debug/net8.0
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ref
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/refint
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.AssemblyInfo.cs
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.AssemblyInfoInputs.cache
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.csproj.CoreCompileInputs.cache
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.csproj.FileListAbsolute.txt
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.dll
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.pdb
/Backend/CSharp/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.sourcelink.json
/Backend/CSharp/HCM-Backend/.vs/HCM-Backend
/Backend/CSharp/HCM-Backend/HCM-Backend/bin/Debug/net8.0
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/ref
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/refint
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/staticwebassets
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/apphost.exe
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.AssemblyInfo.cs
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.AssemblyInfoInputs.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.csproj.CoreCompileInputs.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.csproj.FileListAbsolute.txt
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.MvcApplicationPartsAssemblyInfo.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.MvcApplicationPartsAssemblyInfo.cs
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCM-Backend.sourcelink.json
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.AssemblyInfo.cs
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.AssemblyInfoInputs.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.assets.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.AssemblyReference.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.CopyComplete
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.CoreCompileInputs.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.FileListAbsolute.txt
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.dll
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.genruntimeconfig.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.GlobalUsings.g.cs
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.MvcApplicationPartsAssemblyInfo.cache
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.MvcApplicationPartsAssemblyInfo.cs
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.pdb
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.sourcelink.json
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/Debug/net8.0/staticwebassets.build.json
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/HCMBackend.csproj.nuget.dgspec.json
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/HCMBackend.csproj.nuget.g.props
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/HCMBackend.csproj.nuget.g.targets
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/project.assets.json
/Backend/CSharp/HCM-Backend/HCM-Backend/obj/project.nuget.cache
/Backend/HCM-Backend/.vs
/Backend/HCM-Backend/ApplicationLib/bin/Debug/net8.0/ApplicationLib.dll
/Backend/HCM-Backend/ApplicationLib/bin/Debug/net8.0/ApplicationLib.pdb
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ref/ApplicationLib.dll
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/refint/ApplicationLib.dll
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.AssemblyInfo.cs
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.AssemblyInfoInputs.cache
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.dll
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.pdb
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.sourcelink.json
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/applicant.xml
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/ApplicationLib.dll
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/ApplicationLib.pdb
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/HCMBackend.dll
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/HCMBackend.exe
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/HCMBackend.pdb
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/apphost.exe
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.AssemblyInfo.cs
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.AssemblyInfoInputs.cache
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.AssemblyReference.cache
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.CoreCompileInputs.cache
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.dll
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.pdb
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.sourcelink.json
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/ref/HCMBackend.dll
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/refint/HCMBackend.dll
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/applicant.xml
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/ApplicationLib.dll
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/ApplicationLib.pdb
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/HCMBackend.dll
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/HCMBackend.exe
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/HCMBackend.pdb
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/output.xml
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/temp.xml
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/TestCall.dll
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/TestCall.exe
/Backend/HCM-Backend/TestCall/bin/Debug/net8.0/TestCall.pdb
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/apphost.exe
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/ref/TestCall.dll
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/refint/TestCall.dll
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.AssemblyInfo.cs
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.AssemblyInfoInputs.cache
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.csproj.AssemblyReference.cache
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.dll
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.pdb
/Backend/HCM-Backend/TestCall/obj/Debug/net8.0/TestCall.sourcelink.json
/Backend/HCM-Backend/ApplicationLib/obj/Debug/net8.0/ApplicationLib.csproj.CoreCompileInputs.cache
/Backend/HCM-Backend/HCM-Backend/bin/Debug/net8.0/MockData
/Backend/HCM-Backend/HCM-Backend/obj/Debug/net8.0/HCMBackend.csproj.FileListAbsolute.txt
