<div class="propField">
  @for (item of getObjectKeys(propData); track $index) {
  <div class="singlePropField">
    <div class="form-floating">
      <select
        class="form-select"
        id="floatingSelect"
        aria-label="Floating label select example"
        #selectedProp
        (click)="savePrevious(selectedProp.value)"
        (change)="fieldChanged(selectedProp.value, chance.valueAsNumber)"
        [value]="item"
      >
        <option [value]="item">{{ item }}</option>
        <option *ngFor="let propName of availableProperties" [value]="propName">
          {{ propName }}
        </option>
      </select>
      <label for="floatingSelect">Selected Property</label>
    </div>
    <span class="valuePadding">
    <input
      #chance
      (change)="updateSavedProperties(selectedProp.value, chance.valueAsNumber)"
      (click)="updateSavedProperties(selectedProp.value, chance.valueAsNumber)"
      min="1"
      max="100"
      type="number"
      [value]="propData[item]"
    />%</span>
    <button class="btn btn-danger" (click)="removeProperty(item)">
      Remove Field
    </button>
  </div>

  }
</div>
@if (availableProperties.length > 0) {
<button class="btn btn-success btn-lg" (click)="addProperty()">
  Add Field +
</button>
}
